@{
    ViewBag.Title = "О нас";
}


<div class="tomdiv">
    <h3>Главная страница</h3>
    <p class="toop">Главная страница - лицо проекта по продаже нежвижимости. На ней представлен: слоган информация, актуальная для контингента сайта. Как и все страницы проекта, главная страница имеет навигационную панель, благодаря которой можно осуществлять переходы по ключевым разделам проекта.</p>
    <h3>Навигационная панель</h3>
    <p class="toop">Ключевая вещь на большинстве проектах - навигация. В проекте она представлена в виде навигационной панель, элемент расположен в верхней части страницы, содержит вкладки перехода на страницы, имеет переход на форму авторизации.</p>
    <h3>Каталог</h3>
    <p class="toop"> Важность этой страницы, не имеет предела, ведь именно она основной повод зайти, на сайт. В ней отражен список недвижимости, присутствует поиск и фильтр данных. Находясь на этой странице пользователь может предварительно соориентироваться в выборе недвижимости, операясь на описание лота. <strong>Лот</strong>-единица, отражающая одну позицию из базы данных, т.е одна недвижимость = один лот.</p>
    <h3>О нас</h3>
    <p class="toop">Справочная страница, сайта на которой пользователь может получить информацию о проекте. Оформлена в виде группы статей</p>
    <h3>Контакт</h3>
    <p class="toop">На этой странице представлен контакт с разработчиком, оформленный в виде ссылки, замаскированной картинкой.</p>
    <h3>Авторизация/Регистрация</h3>
    <p class="toop">Чтобы находится на некоторых страницах этого проекта, необходима авторизация. Но как известно, авторизация не обойдется без регистрации. Чтобы зарегистрироваться, нам потребуется ввести адрес эдектронной почты, и пароль. И не стоит забывать про валидацию. </p>

</div>